# This is only used in deploying with cloud build. Variables down there with
# $prefix will be replaced by the envsubst program from the gettext package.
apiVersion: v1
kind: ConfigMap
metadata:
  name: marc0-config
  namespace: marc0-namespace
data:
  GCLOUD_STORAGE_NAME: $GCLOUD_STORAGE_NAME